<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myapplication">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".staticQR"></activity>
        <activity android:name=".UserProfile"></activity>
        <activity android:name=".hamburgermenu"></activity>
        <activity android:name=".SignUp2" />
        <activity android:name=".Login" />
        <activity android:name=".SendViaAccount" />
        <activity android:name=".AddBankAccount" />
        <activity android:name=".Account" />
        <activity android:name=".Transaction" />
        <activity android:name=".Recieve" />
        <activity android:name=".Send" />
        <activity android:name=".verifyphone" />
        <activity android:name=".Homes" />
        <activity android:name=".Homesalter" />
        <activity android:name=".loginActivity" />
        <activity android:name=".signUp" />
        <activity android:name=".firstActivity" />
        <activity android:name=".MainActivity" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>